


@media(max-width:996px){
    .header{
        padding: 48px 50px 0 50px;
    }
    .header_list{
        display: none;
    }
    .main {
        padding: 0 50px;
    }  
    .burger{
        display: block;
    }
    .hero_right{
       
        &::after{
            content: url(../img/bg3.png);
            position: absolute;
            left: 40%;
            top: 6%;
            z-index: 10;
        }
    }

}

@media (max-width:428px){
    .header{
        padding: 48px 25px 0 25px;
    }
    .main {
        padding: 0 25px;
    } 
    .hero{
        flex-direction: column-reverse;
    }
    .burger_line{
        width:30px;
    }
    .hero_right{
        &::after{
            content: url(../img/bg2.png);
            position: absolute;
            left: -15%;
            top: -20%;
            z-index: 10;
        }
    }
    .hero_left{
            &::after{
            content: url(../img/bg1.png);
            position: absolute;
            left: 56%;
            top: -95%;
            z-index: 10;
           
        }
    }
    .pb_item:first-of-type::after{
        display: none;
    }
    .pb_item:last-of-type::after{
        display: none;
    }
    .passions{
        margin: 30px 0 95px 0;
    }
}
